{
  "extends": "react-app",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src",
          "node_modules"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "space-infix-ops": "warn",
    "no-multi-spaces": "warn",
    "no-trailing-spaces": [
      "warn",
      {
        "skipBlankLines": true
      }
    ],
    "no-whitespace-before-property": "error",
    "no-spaced-func": "error",
    "space-before-blocks": [
      "warn",
      {
        "functions": "always",
        "keywords": "always",
        "classes": "always"
      }
    ],
    "space-in-parens": [
      "warn",
      "never"
    ],
    "space-unary-ops": "warn",
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "keyword-spacing": "warn",
    "key-spacing": "warn",
    "eol-last": [
      "warn",
      "always"
    ],
    "no-shadow": [
      "error",
      {
        "allow": [
          "options"
        ]
      }
    ],
    "react/no-string-refs": "error",
    "react/no-array-index-key": "error",
    "react/jsx-indent-props": [
      "warn",
      2
    ],
    "react/jsx-key": "error",
    "react/jsx-first-prop-new-line": [
      1,
      "multiline"
    ],
    "react/jsx-indent": [
      "warn",
      2
    ],
    "react/jsx-pascal-case": "error",
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "never"
      }
    ],
    "react/jsx-no-bind": "off",
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
        "children": "never"
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 0
      }
    ],
    "no-unused-vars": "warn",
    "curly": "error",
    "no-warning-comments": [
      "warn",
      {
        "terms": [
          "todo",
          "fixme",
          "xxx"
        ],
        "location": "start"
      }
    ],
    "no-console": "off",
    "generator-star-spacing": [
      "warn",
      "after"
    ],
    "no-useless-constructor": "error",
    "import/no-unresolved": [
      "error",
      {
        "commonjs": true
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
